<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="Webstore.css">
<link rel="'stylesheet" href="L_box.css">
<title>Everspring Webpage</title>
<style>

</style>
<div class="topnav">
    <a href="Webstore.html">Home</a>
    <a href="Men.html">Men</a>
    <a href="Women.html">Woman</a>
    <a href="Brand.html">Brand </a>
    <a href="Login.html"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="Search.html"><i class="fa fa-fw fa-search"></i> Search</a>
    <a href="Cart.html"><i class="fa fa-fw fa-shopping-cart"></i> Cart</a>
  </div>
</head>

<body>
<br><br><br><br><br><br><br><br>
<div class="container">
  <div class="p-3 m-3">
      <div class="col-lg-5 rounded mx-auto border pt-4">
          <div class="text-center col">
          <hr>
          </div>
          <h3 class="alert alert-light rounded-pill" style="text-align:center" >Login to your account</h3>
          <form action="/login" method="POST">
              
              {% csrf_token %}

              {% if error%}
              <div class="alert alert-danger" role="alert">
                  {{error}}
              </div>
              {% endif %}

              <!-- Username -->
              <div class="form-group">
                <label for="">Username:</label>
                <input type="username" 
                name="username" 
                id=""
                 class="form-control form-control-sm" >
            </div>


              <!-- password -->
              <div class="form-group">
                  <label for="">Password:</label>
                  <input type="password" 
                  name="password" 
                  id=""
                   class="form-control form-control-sm" >
              </div>

              <hr>
              <button type="submit" class="btn btn-sm btn-success col-lg-12">Login</button>


              
          </form>
      </div>
  </div>
</div>



</form>
</body>
</html>
