<!DOCTYPE html>
{% extends 'Webstore.html' %}
{% load static %}
{% block content %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/Webstore.css' %}">
  <link rel="stylesheet" href="{% static 'css/format.css' %}">
  <title>Everspring Webpage</title>
  <style>

  </style>
    <br><br><br><br><br><br><br><br><br><br>
        <h6><strong>Dumb shirt</strong></h6>
        <hr>        

        <button  class="btn btn-outline-secondary add-btn" button onclick="add1()">Add to Cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
        ${{items.itemprice|floatformat:2}}</strong></h4></div>


    
</div>
<div class="row">
    <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'css/hoodie.jpg' %}">
    
        <h6><strong>Dumb shirt</strong></h6>
        <hr>        

        <button  class="btn btn-outline-secondary add-btn" button onclick="add2()">Add to Cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
        ${{items.itemprice|floatformat:2}}</strong></h4></div>


    </div>
    <br><br><br><br><br><br><br><br><br><br>
</div>
<div class="row">
    <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'css/men_jeans.jpg' %}">
    
        <h6><strong>Dumb shirt</strong></h6>
        <hr>        

        <button  class="btn btn-outline-secondary add-btn" button onclick="add3()">Add to Cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
        ${{items.itemprice|floatformat:2}}</strong></h4></div>


    </div>
    <br><br><br><br><br><br><br><br><br><br>
</div>
<div class="row">
    <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'css/pink_tee.jpg' %}">
    
        <h6><strong>Dumb shirt</strong></h6>
        <hr>        

        <button  class="btn btn-outline-secondary add-btn" button onclick="add4()">Add to Cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
        ${{items.itemprice|floatformat:2}}</strong></h4></div>


    </div>
    <br><br><br><br><br><br><br><br><br><br>
</div><div class="row">
    <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'css/white_tee.png' %}">
    
        <h6><strong>Dumb shirt</strong></h6>
        <hr>        

        <button  class="btn btn-outline-secondary add-btn" button onclick="add5()">Add to Cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
        ${{items.itemprice|floatformat:2}}</strong></h4></div>


    </div>
    <br><br><br><br><br><br><br><br><br><br>

{% endblock content %}
<script src="math.js"></script>


    

    
</div>
</body>
</html>