<!DOCTYPE html>
{% extends 'Webstore.html' %}
{% load static %}
{% block content %}
<html>

<body>
<br><br><br><br><br><br>
<style>
  h1 {
    text-align: center;
    float: center;
  }
</style>
<h1>Women's Section</h1>


   

</div><div class="row">
    <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'css/woman_hoodie.jpg' %}">
    
        <h6><strong>Dumb shirt</strong></h6>
        <hr>        

        <button  class="btn btn-outline-secondary add-btn" button onclick="add6()">Add to Cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
        ${{items.itemprice|floatformat:2}}</strong></h4></div>


    </div>
    <br><br><br><br><br><br><br><br><br><br>
</div>
</div><div class="row">
    <div class="col-lg-4">
    <img class="thumbnail" src="{% static 'css/pink_tee.jpg' %}">
    
        <h6><strong>Dumb shirt</strong></h6>
        <hr>        

        <button  class="btn btn-outline-secondary add-btn" button onclick="add7()">Add to Cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
        ${{items.itemprice|floatformat:2}}</strong></h4></div>


    </div>
    <br><br><br><br><br><br><br><br><br><br>
    {% endblock content %}
    <script src="math.js"></script>
</div>
</body>
</html>