<!DOCTYPE html>
{% load static %}
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/Webstore.css' %}">
  <title>Everspring Webpage</title>

  <div class="topnav">
    <a href="{% url 'Home' %}">Home</a>
    <a href="{% url 'Men' %}">Men</a>
    <a href="{% url 'Women' %}">Women</a>
    <a href="{% url 'Brand' %}">Brand </a>
    <a href="{% url 'Login' %}"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="{% url 'Search' %}"><i class="fa fa-fw fa-search"></i> Search</a>
    <a href="{% url 'Cart' %}"><i class="fa fa-fw fa-shopping-cart"></i> Cart</a>
  </div>
</head>

<body>
<br><br><br><br><br><br><br><br>
<div class="links">
  <a href="{% url 'Login' %}">Login</a>
  <a href="{% url 'Register' %}"><i class="register-form"></i> Register</a>
</div>
<br>
<form action="/action_page.python">
  <label for="username">Username:</label><br>
  <input type="text" name="username" placeholder="Username" id="username" required><br>

  <label for="password">Password:</label><br>
  <input type="password" name="password" placeholder="Password" id="password" required><br>

  <label for="phonenumber">Phone Number:</label><br>
  <input type="phonenumber" name="phonenumber" placeholder="Phone Number:" id="phonenumber" required><br>

  <label for="email">Email:</label><br>
  <input type="email" name="email" placeholder="Email" id="email" required><br><br>

  <input type="submit" value="Register" onclick="UserLogin.py">
</form>



</form>
</body>
</html>
