<!DOCTYPE html>
{% load static %}
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/Webstore.css' %}">
  <title>Everspring Webpage</title>
  <style>

  </style>
  <div class="topnav">
    <a href="{% url 'Home' %}">Home</a>
    <a href="{% url 'Men' %}">Men</a>
    <a href="{% url 'Women' %}">Women</a>
    <a href="{% url 'Brand' %}">Brand </a>
    <a href="{% url 'Login' %}"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="{% url 'Search' %}"><i class="fa fa-fw fa-search"></i> Search</a>
    <a href="{% url 'Cart' %}"><i class="fa fa-fw fa-shopping-cart"></i> Cart</a>
  </div>
</head>

<body>
<br><br><br><br><br><br>

<form id="form"
role="search">
  <input type="search"
id="query" name="q"
placeholder="Search..."
  aria-label="Search through content">
<button>Search</button>
</form>
<style>
  form {   
    display: flex;
    align-items: center;
    width: 500px;
    height: 50px;
    border-radius: 5px;
  }
</style>
</body>
</html>
