<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/Webstore.css' %}">
  <link rel="stylesheet" href="{% static 'css/home_Photo.css' %}">
  <title>Everspring Webpage</title>
  <style>
  </style>

  <div class="topnav">
    <a href="{% url 'Home' %}">Home</a>
    <a href="{% url 'Men' %}">Men</a>
    <a href="{% url 'Women' %}">Women</a>
    <a href="{% url 'Brand' %}">Brand </a>
    <a href="{% url 'Login' %}"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="{% url 'Search' %}"><i class="fa fa-fw fa-search"></i> Search</a>
    <a href="{% url 'Cart' %}"><i class="fa fa-fw fa-shopping-cart"></i> Cart</a>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"><i class="Logout"></i> logout</a>
    {% endif %}
  </div>
</head>

<body>
  <br><br><br><br><br><br>
  <header>Everspring</header>
  <br><br><br><br>
  
  <div class="slideshow-container">
  
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="{% static 'css/Spring_Banner.png' %}" style="width:100%" style="height:50%">
      <div class="text"></div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="{% static 'css/New_arrival.png' %}" style="width:100%">
      <div class="text"></div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="{% static 'css/WillSmithCrying.png' %}" style="width:100%">
      <div class="text"></div>
    </div>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
    
    <script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 4000); // Change image every 4 seconds
    }
    </script>
    
  
  </body>
  </html>
