<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/Webstore.css' %}">
  <title>Everspring Webpage</title>
  <style>

  </style>
  <div class="topnav">
    <a href="{% url 'Home' %}">Home</a>
    <a href="{% url 'Men' %}">Men</a>
    <a href="{% url 'Women' %}">Women</a>
    <a href="{% url 'Brand' %}">Brand </a>
    <a href="{% url 'Login' %}"><i class="fa fa-fw fa-user"></i> Login</a>
    <a href="{% url 'Search' %}"><i class="fa fa-fw fa-search"></i> Search</a>
    <a href="{% url 'Cart' %}"><i class="fa fa-fw fa-shopping-cart"></i> Cart</a>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"><i class="Logout"></i> logout</a>
    {% endif %}
  </div>
</head>

<body>
  <br><br><br><br><br><br>
  <style>
    h1 {
      text-align: center;
      float: center;
    }
  </style>
  <h1>Women's Section</h1>
  
  <!-- all products -->
		<div id='items' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for item in items %}
				{{ items.itemname }}
				{{ items.itemprice }}
				{{ items.itemimage }}
				{{ items.itemId }}
				<div class="card mx-auto mb-3" id={{item.itemid}} style="width: 18rem;">
					<img class="card-img-top" src="{{item.itemimage.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{item.itemname}}</p>
						<p class="card-text"><b>{{item.itemprice}</b></p>
					</div>

					<div class="card-footer p-0 no-gutters">
           
						<form action="/#{{item.itemid}}" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{items.itemid}}'>
							<input type="submit" class="float-right btn btn-success form-control"
								value="Add To Cart">
						</form>
            </div>

				</div>
				{% endfor %}
							</div>
		</div>
	</div>
</div>
</body>
</html>
